body {
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 1280px;
}

div { margin: 1.5rem 0;}

.content {
  min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
}

.navbar, .footer {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a, .footer a {
  color: lightgoldenrodyellow;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  /* text-decoration: none; */
}

.navbar a:hover, .footer a:hover {
  color: #ffffff;
}

